<div class='padded blue rounded'>
	<div class="spacing-15"></div>
	<h3>Cadastre-se como visitante</h3>
	<p>Após o preenchimento deste formulário, você receberá um e-mail informativo com nossos pacotes e promoções, e a confirmação de seu acesso gratuito, sendo este feito através do e-mail (login) e da senha cadastrados.</p>
	<form role='form' class='form'>
		<div class="checkbox">
			<label for="news">
				<input name='news' id='news' type="checkbox" checked="checked">
				Autorizo o Mensário Fiscal a enviar a newsletter e e-mails informativos para o endereço de e-mail cadastrado abaixo.
			</label>
		</div>
		<div class='form-group' id='nome-group'>
			<label class='control-label' for="nome">Nome</label>
			<input class='form-control' type="text" name='nome' id='nome'>
		</div>
		<!-- <div class='form-group' id='cpfCnpj-group'>
			<label class='control-label' for="cpfCnpj">CPF / CNPJ</label>
			<input class='form-control' type='text' name='cpfCnpj' id='cpfCnpj'>
		</div> -->
		<div class='form-group' id='email-group'>
			<label class='control-label' for="email">e-mail</label>
			<input class='form-control' type="email" name='email' id='email'>
		</div>
		<!-- <div class='form-group' id='atividade-group'>
			<label class='control-label' for="atividade">Ramo de atividade</label>
			<input class='form-control' type="text" name='atividade' id='atividade'>
		</div>
		<div class='form-group' id='endereco-group'>
			<label class='control-label' for="endereco">Endereço</label>
			<input class='form-control' type="text" name='endereco' id='endereco'>
		</div> -->
		<div class='form-group' id='cidade-group'>
			<label class='control-label' for="cidade">Cidade</label>
			<input class='form-control' type="text" name='cidade' id='cidade'>
		</div>
		<div class='form-group' id='uf-group'>
			<label class='control-label' for="uf">Estado</label>
			<select class='form-control' type="text" name='uf' id='uf'>
				<option>Selecione o estado</option>
				<option value='AC'>Acre</option>
				<option value='AL'>Alagoas</option>
				<option value='AP'>Amapá</option>
				<option value='AM'>Amazonas</option>
				<option value='BA'>Bahia</option>
				<option value='CE'>Ceará</option>
				<option value='DF'>Distrito Federal</option>
				<option value='ES'>Espírito Santo</option>
				<option value='GO'>Goiás</option>
				<option value='MA'>Maranhão</option>
				<option value='MT'>Mato Grosso</option>
				<option value='MS'>Mato Grosso do Sul</option>
				<option value='MG'>Minas Gerais</option>
				<option value='PR'>Paraná</option>
				<option value='PB'>Paraíba</option>
				<option value='PA'>Pará</option>
				<option value='PE'>Pernambuco</option>
				<option value='PI'>Piauí</option>
				<option value='RJ'>Rio de Janeiro</option>
				<option value='RN'>Rio Grande do Norte</option>
				<option value='RS' selected>Rio Grande do Sul</option>
				<option value='RO'>Rondonia</option>
				<option value='RR'>Roraima</option>
				<option value='SC'>Santa Catarina</option>
				<option value='SE'>Sergipe</option>
				<option value='SP'>São Paulo</option>
				<option value='TO'>Tocantins</option>
			</select>
		</div>
		<div class='form-group' id='fone1-group'>
			<label class='control-label' for="fone1">Telefone</label>
			<input class='form-control' type='tel' pattern='[\(]\d{2}[\)]\d{4}[\-]\d{4}' name='fone1' id='fone1'>
		</div>
		<!-- <div class='form-group' id='contato-group'>
			<label class='control-label' for="contato">Pessoa de contato</label>
			<input class='form-control' type="text" name='contato' id='contato'>
		</div> -->
		<div class='form-group' id='pwdHash-group'>
			<label class='control-label' for="senha">Senha</label>
			<input class='form-control' type="password" name='senha' placeholder='Senha' id='pwdHash'>
		</div>
		<div class='form-group'>
			<input class='form-control' type="password" name='senhaAgain' placeholder='Confirme a senha' id='pwdHashAgain'>
		</div>

		<p>Atenção: todos os campos acima são obrigatórios</p>
		<div class="form-group">
			<div class="col-md-12">
				<a id='save-btn' type="submit" class="pull-right btn btn-primary">Enviar</a>
			</div>
		</div>
		<div id="response"></div>
		<div class="spacing-15"></div>
	</form>
</div>
<script type='text/javascript'>
	$('#save-btn').click( function(){
		var pessoa = {}
		  , pwdHashAgain = $('#pwdHashAgain').val()

		pessoa.news      = $('#news').prop('checked')
		pessoa.nome      = $('#nome').val()
		pessoa.email     = $('#email').val()
		pessoa.pwdHash   = $('#pwdHash').val()
		pessoa.cidade    = $('#cidade').val()
		pessoa.uf        = $('#uf').val()
		pessoa.fone1     = $('#fone1').val()
		pessoa.cpfCnpj   = $('#cpfCnpj').val()
		
		if ( pessoa.pwdHash !== pwdHashAgain ){
			$('#response').html(
				'<h2>Ops</h2><p>Informe o mesmo valor nos dois campos de senha.</p>'
			)
		} else {

			$.ajax({
				url: '/visitante',
				type: 'POST',
				data: pessoa,
				success: function(){
					window.location = '/pagina/confirmacao'
				},
				error: function( errs ){
					$('#response').html( '<h2>Erro ao Salvar</h2><p>Não foi possível completar a requisição.</p>' )
					var errors = errs.responseJSON
					if ( errors.constructor === Array ){
						$('#response').html( '<h3>Motivos:</h3>' )
						errors.forEach( function(err){
							$('#response').append( '<p>'+err.messages.join(', ')+'</p>' )
						})
					}
					alert( 'Não foi possível completar a requisição.' )
				}
			})
		}
	})
</script>
