#banner-bar {
	width: 100%;
	height: auto;
	background-color: #303030;
}
#banner-bar img {
	width: 100%;
}
.carousel-inner .pannel {
	max-width: 400px;
	position: absolute;
	margin: 60px;
	font-size: 20px;
}
.carousel-inner .pannel.left { left: 150px; } 
.carousel-inner .pannel.right { right: 150px; } 
.carousel-inner .pannel.top { top: 0px; } 
.carousel-inner .pannel.bottom { bottom: 0px; } 